@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

/*Criando configurações gerais para resetar margin e padding de todos os elementos*/
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;/*vh (view height) vw (view width)*/
    background-color: darkgray;
    font-family: var(--font1);
    font-size: 1em;
}

/*Cabeçalho*/
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase;transformar todo o texto em letra maiúscula*/
    font-variant: small-caps;/*as letras ficam maiúsculas porém as primeiras letras ficam maiores*/
    font-family: var(--font2);
    font-size: 5em;/*Não é a melhor maneira para adaptar o tamanho de uma letra porém é funcional*/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

/*Conteúdo*/
section {
    max-width: 800px;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 1.3em;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #3f3f3f;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.45);
    background-size: cover;
    background-attachment: fixed;/*Efeito Parallax*/
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.534);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url("../img/background001.jpg");
    background-position: right center;
}

section#img02 {
    background-image: url("../img/background002.jpg");
}

/*Rodapé*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}